#playground {
    width: 640px;
    height: 480px;
    background-color: #000;
}

#console-container {
    float: left;
    margin-left: 15px;
    width: 300px;
}

#console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 480px;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

#console p {
    padding: 0;
    margin: 0;
}
